<app-default-login-layout
  title="Defina sua nova senha"
  primaryBtnText="Salvar senha"
  secondaryBtnText="Voltar ao login"
  (submit)="submit()"
  (navigate)="navigate('login')"
  [disablePrimaryBtn]="!resetForm.valid"
>
  <form [formGroup]="resetForm" (ngSubmit)="submit()">
    <app-primary-input
      formControlName="token"
      inputName="token"
      label="Código de Verificação"
      placeholder="Digite o código enviado"
    >
    <img src="/assets/svg/token.svg" alt="">
  </app-primary-input>

    <app-primary-input
      formControlName="newPassword"
      inputName="newPassword"
      type="password"
      label="Nova Senha"
      placeholder="Digite sua nova senha"
    >
    <img src="/assets/svg/Pass-open.svg" alt="">
  </app-primary-input>

    <app-primary-input
      formControlName="confirmPassword"
      inputName="confirmPassword"
      type="password"
      label="Confirmar Senha"
      placeholder="Confirme sua nova senha"
    >
    <img src="/assets/svg/Pass.svg" alt="">
  </app-primary-input>
  </form>
</app-default-login-layout>
