<app-default-login-layout
  title="Recupere sua senha"
  primaryBtnText="Enviar link"
  secondaryBtnText="Voltar ao login"
  (submit)="submit()"
  (navigate)="navigate('login')"
  [disablePrimaryBtn]="!forgotPasswordForm.valid"
>
  <form [formGroup]="forgotPasswordForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="seuemail@exemplo.com"
    >
      <img src="/assets/svg/email.svg" />
    </app-primary-input>
    <span class="Aviso">Enviaremos um link para redefinir sua senha.</span>
  </form>
</app-default-login-layout>
