<section class="left-panel">
    <img src="../../../assets/svg/logo.svg" alt="Logo" />
    <h1>Ramais</h1>
    <span class="subtitle">Gerencie os ramais com eficiência</span>
    <nav class="menu">
      <button class="buttonMenu" (click)="switchView('all')">Todos os Ramais</button>
      <button class="buttonMenu" (click)="switchView('available')">Ramais Disponíveis</button>
      <button class="buttonMenu" (click)="switchView('range')">Intervalo</button>
    </nav>
  
    <button class="logout-btn" (click)="logout()">Sair</button>
  </section>